@import "./variables.styl";

* {
  user-select: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 0.1px;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  user-select: none;
}

a {
  color: link-color;
  text-decoration: none;
  //transition: all 200ms;

  &:hover {
    //text-shadow: 1px 1px 3px #00000033;
  }
}
